@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Jersey+10&family=Rubik+Lines&display=swap');

:root {
  --font-fam: "Caesar Dressing", system-ui;
  --font-weight: 400;
  --font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
} 
 
 body {
  font-family: Arial;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(249, 220, 255); */
  border: 7px solid black;
  text-align: center;
  width: 100%;
  height: 10rem;
  cursor: pointer;
  font-size: 6rem;
  font-family: var(--font-fam);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  transition: background-color 0.3s;
}


.first,
.fourth,
.seventh,
.third,
.sixth,
.ninth {
  border-right: none;
  border-left: none;
}


.first,
.second,
.third,
.seventh,
.eight,
.ninth {
  border-top: none;
  border-bottom: none;
}


.cell:hover {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(209, 255, 197); */
}

.cell:active {
  opacity: 0.6;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: min(70vw, 600px);
}

.display-text,
.game-title {
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 20px;
}

.display-text,
.game-title {
  --font-fam: "Caesar Dressing", system-ui;
  --font-weight: 900;
}

.display-text {
  font-family: var(--font-fam);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}

.game-title {
  font-family: var(--font-fam);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}

.restart {
  margin-top: 20px;
  font-family: var(--font-fam);
  font-weight: 500;
  background-color: rgb(51, 51, 51);
  color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  cursor: pointer;
}

.restart:hover {
  opacity: 0.9;
}


@media (max-width: 480px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  body {
    font-family: Arial;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    min-width: 100vw;
  }

  .game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: min(90vw, 600px);
  }

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    text-align: center;
    width: 100%;
    height: min(10rem, 20vh);
    cursor: pointer;
    font-size: 4rem;
    font-family: var(--font-fam);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    transition: background-color 0.3s;
  }

  .first,
  .fourth,
  .seventh,
  .third,
  .sixth,
  .ninth {
    border-right: none;
    border-left: none;
  }


  .first,
  .second,
  .third,
  .seventh,
  .eight,
  .ninth {
    border-top: none;
    border-bottom: none;
  }

  .display-text,
  .game-title {
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .display-text {
    margin-bottom: 50px;
  }
}