body {
  max-width: 100vw;
  min-width: 50vw;
  max-height: 100vw;
  min-height: 50vw;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.main-box {
  display: grid;
  align-items: center;
}

.title {
  margin-top: 0px;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;

}

.test {
  margin-top: 50px;
  /*
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
*/
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 70px;
}

.start-button,
.stop-button {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  font-size: 20px;
  border: none;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: antiquewhite;
  box-shadow: 2px 3px 2px  rgb(27, 27, 27); 
  border: 4px ridge rgb(29, 29, 29);
  cursor: pointer;
}

.start-button:hover,
.stop-button:hover {
  background-color: rgba(250, 235, 215, 0.905); 
  box-shadow: 3px 4px rgb(27, 27, 27);
  /* border: 4px solid gray; */
}

