body {
  font-family: Arial;
  background-color: whitesmoke;
}

.cell {
  background-color: rgb(249, 220, 255);
  border: 1px solid black;
  text-align: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(240, 248, 255, 0.4);
}

.cell:active {
  opacity: 0.6;
}

.game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
}